body,
ul {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
}

.todo-header {
  background-color: gray;
  height: 80px;
  width: 100%;
  padding: 20px;
  color: white;
  line-height: 50%;
  margin-bottom: 5px;
  text-align: center;
}

.todo-form {
  height: 80px;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  outline: none;
  border-radius: 7px;
  border: 1px solid gray;
  box-shadow: 2px 1px 2px gray;
  margin-bottom: 5px;
}

.todo-list {
  height: 80px;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 7px;
  box-shadow: 2px 1px 2px gray;
  list-style: none;
  margin-bottom: 5px;
}

.todo-text {
  outline: none;
  border: none;
  font-size: 1.5em;
  width: 70%;
  color: gray;
  margin-left: 20px;
  align-self: center;
}

.button-add {
  width: 80px;
  height: 50px;
  align-self: center;
  outline: none;
  border-radius: 10px;
  color: green;
  border: 1px solid green;
  font-size: 1em;
  box-shadow: 2px 1px 2px gray;
  margin-right: 20px;
}

.button-remove {
  background-image: url('./icons/remove.svg');
  width: 40px;
  height: 40px;
  border: 0;
  align-self: center;
  outline: none;
  margin-right: 20px
}
