/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Components */

.todo-header {
  height: 80px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #9E9E9E;
  color: #FFF;
  text-align: center;
  font-family: sans-serif;
  line-height: 80px;
}

.todo-form,
.todo-task {
  height: 100px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #9E9E9E;
  border-radius: 7px;
  box-shadow: 2px 1px 2px #9E9E9E;
}

.todo-form>.text {
  width: 60%;
  margin: 20px;
  border: none;
  outline: none;
  color: #9E9E9E;
  font-size: 1.5em;
  font-family: sans-serif;
}

.todo-task>.text {
  width: 60%;
  margin: 20px;
  border: none;
  outline: none;
  color: #9E9E9E;
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  resize: none;
  align-self: baseline;
}

.todo-task>input {
  margin: 20px;
}

.todo-task>input[type=checkbox]:checked+.text {
  text-decoration: line-through;
  color: #BDBDBD;
}


/* Buttons */

.button {
  height: 50px;
  width: 50px;
  margin: 20px;
  border: 0;
  outline: none;
}

.-add {
  background-image: url('./icons/add.png');
}

.-remove {
  background-image: url('./icons/remove.png');
}


/* Helpers */

._flex {
  display: flex;
}

._align-center {
  align-items: center;
}

._between {
  justify-content: space-between;
}


/* Media Queries */

@media (max-width: 1150px) {
  .todo-form,
  .todo-task {
    width: 80%;
  }
  .button {
    margin: 10px;
  }
}

@media (max-width: 890px) {
  .todo-form,
  .todo-task {
    width: 90%;
    height: 120px;
  }
  .todo-task>.text {
    height: 80px;
  }
}
